<div class="sentence question">
    <span class="sentence__expression"><%= @question %></span>
    <span class="sentence__expressor"><em>Your message</em></span>
</div>
<div class="sentence answer">
    <span class="sentence__expression"><strong><%= @answer %></strong></span>
    <span class="sentence__expressor"><em>Your coach's reply</em></span>
</div>
<%# added backlink  %>
<div class="backlink">
    <a href="/">Ask a new question</a>
</div>
